<% created_by = @image.user %>
<% if created_by == current_user%>
<a href="/image/<%=@image.id%>/delete">Delete Image</a>
<%end%>


<img src="/image/<%=@image.filepath%>" width="150" height="100">
<br></br>

<%@image.comments.each do |comment|%>
 <%=@user.name%>: <%=comment.content%>
<br></br>
<%end%>





<form method="post" action="/image/<%=@image.id%>/comment">
Comment: <input name="comment" type="text">
<button type="submit" value="submit">Comment</button>
</form>


add like and dislike here

<a href="/image/<%=@image.id%>/like">Like</a>
<%Like.all.each do |like|%>
  <%if like.images.include?(@image)%>

  <%=like.users.length%>
  <%end%>
<%end%>



<a href="/image/<%=@image.id%>/dislike">Dislike</a>
<%Dislike.all.each do |dislike|%>
  <%if dislike.images.include?(@image)%>
    <%=dislike.users.length%>
    <%end%>
  <%end%>
