<html>
<head>
   <link href="/stylesheets/style.css" rel="stylesheet">
</head>





<body>
<% created_by = @image.user %>
<% if created_by == current_user%>
<form action="/images/<%=@image.id%>/delete" method="post">

<input id="hidden" type="hidden" name="_method" value="delete">
<button type="submit" value="submit">Delete</button>
</form>
<%end%>
<br></br>


<img src="/image/<%=@image.filepath%>" width="150" height="100">
<br></br>

<%@image.comments.each do |comment|%>
 <%=comment.user.name%>: <%=comment.content%>
<br></br>
<%end%>





<form method="post" action="/comments/<%=@image.id%>/new">
<textarea name="comment" type="text" placeholder="Add your comment!"></textarea>
</br>
<input type="submit" value="Add Comment">
</form>


<a href="/images/<%=@image.id%>/like">&#128513;
</a>

<%=@image.likes.count%>




<a href="/images/<%=@image.id%>/dislike">&#128542;</a>
<%=@image.dislikes.count%>
</body>
</html>
